<div class="page__footer-follow">
  <ul class="social-icons">
    
    <li><a href="https://www.instagram.com/starkelynn/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram" aria-hidden="true" style="color: #F6E7B6;"></i> Instagram</a></li>
    
      <li><a href="https://de.linkedin.com/in/lynn-starke-10b366149"
             rel="noopener noreferrer nofollow"
            target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true" style="color: #F6E7B6;"></i> Linkedin</a></li>


    <li><a href="{{ '/imprint' | absolute_url }}"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" aria-hidden="true" style="color: #F6E7B6;"></i> Impressum & Privacy</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Supported by <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">Per Starke Web Development</a></div>
