/* Überschriften farblich anpassen */
h2 {
    color: #36452E !important;
}


/* Style für Buttons */
.button {
    background-color: #ADBC92;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #99A97E;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    /* Hover-Effekt */
    &:hover {
        background-color: #99A97E;
        border-color: #ADBC92;
        color: black !important;
    }
}


li.aligned {
    text-indent: -1.5em;
    margin-left: 1.5em;
}



.emp-box {
    border: 2px solid #ADBC92;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(173, 188, 146, 0.2);
    padding: 6px 0;
    margin-bottom: 20px;
}